@media screen and (max-width: 480px) {
	/* ------------------------------------------------
	* サイト　コンセプトスタッフ　Page/concept_staff.php
	* -----------------------------------------------*/
	.staff-section {
		max-width: 95%;
		padding: 20px 15px;
	}
	.staff-item {
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin-bottom: 60px;
	}
	.staff-image img {
		width: 450px;
		height: auto;
		margin-bottom: 100px;
	}
	.staff-name {
		font-size: 2.4rem;
		justify-content: center;
		gap: 6px;
		margin-top: 0px;
	}
	.staff-name .instagram-link {
		font-size: 2.4rem;
	}
	.staff-info {
		width: 100%;
	}

	/* ------------------------------------------------
	* サイト・管理画面　ハンバーガーメニュー
	* -----------------------------------------------*/
	.navGlobal.navLeft,
	.navGlobal.navRight {
		display: none;
	}
	.spica-logo-top {
		margin: 0 auto;
	}
	.spica-logo-top img {
		height: 70px;
	}
	.hamburger {
		position: fixed;
		top: 15px;
		right: 15px;
		font-size: 24px;
		color: #333;
		cursor: pointer;
		z-index: 1300; 
	}
	.sidebar.active {
		right: 0;
	}
	.sidebar-menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		padding: 0;
		margin: 0;
		font-family: "Tsukimi Rounded", sans-serif;
		text-align: center;
	}
	.sidebar-menu li {
		list-style: none;
		margin: 0;
	}
	.sidebar-menu a {
		display: block;
		padding: 12px 8px;
		border: 1px solid #ddd;
		color: #ffffff;
		font-size: 14px;
		text-decoration: none;
		transition: background-color 0.3s, color 0.3s;
	}
	.sidebar-menu a:hover {
		background-color: #f0f0f0;
		color: #000;
	}
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100vh;
		background: rgba(50, 50, 50, 0.85);
		transition: width 0.3s;
		overflow: hidden;
		z-index: 1100;
		margin-top: 75px;
	}
	.overlay.active {
		width: 100%;
	}
	.hamburger i.fa-bars {
		position: relative;
		z-index: 1;
		display: inline;
	}
	.hamburger.active i.fa-bars {
		display: none;
	}
	.hamburger i.fa-times {
		position: relative;
		z-index: 2;
		display: none;
	}
	.hamburger.active i.fa-times {
		display: inline;
	}
	/* PC向けのナビ非表示 */
	.navGlobal.navLeft,
	.navGlobal.navRight {
		display: none;
	}
	/* スクロール禁止 */
	body.no-scroll {
		overflow: hidden;
	}

	/* ------------------------------------------------
	* 管理画面　ブログ
	* -----------------------------------------------*/
	.add-admin {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
	.admin-title {		
		font-size: 22px;
		margin-top: 100px;
	}
	.publish-complete-admin {
        padding-left: 20px !important;
        padding-right: 20px !important;
	}
	.edit-admin {
		padding-left: 20px !important;
        padding-right: 20px !important;
	}
	.draft-save-complete-admin {
		padding-left: 20px !important;
        padding-right: 20px !important;
	}
	.draft_delete_complete_admin {
		padding-left: 20px !important;
        padding-right: 20px !important;
	}
}