@media screen and (min-width: 481px) and (max-width: 767px) {
	/* ------------------------------------------------
	* サイト・管理画面　ハンバーガーメニュー
	* -----------------------------------------------*/
	.navGlobal.navLeft,
	.navGlobal.navRight {
		display: none;
	}
	.spica-logo-top {
		margin: 0 auto;
	}
	.hamburger {
		position: fixed;
		top: 15px;
		right: 15px;
		font-size: 24px;
		color: #333;
		cursor: pointer;
		z-index: 1300; 
	}
	.sidebar.active {
		right: 0;
	}
	.sidebar-menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		padding: 0;
		margin: 0;
		font-family: "Tsukimi Rounded", sans-serif;
		text-align: center;
	}
	.sidebar-menu li {
		list-style: none;
		margin: 0;
	}
	.sidebar-menu a {
		display: block;
		padding: 12px 8px;
		border: 1px solid #ddd;
		color: #ffffff;
		font-size: 14px;
		text-decoration: none;
		transition: background-color 0.3s, color 0.3s;
	}
	.sidebar-menu a:hover {
		background-color: #f0f0f0;
		color: #000;
	}
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100vh;
		background: rgba(50, 50, 50, 0.85);
		transition: width 0.3s;
		overflow: hidden;
		z-index: 1100;
		margin-top: 75px;
	}
	.overlay.active {
		width: 100%;
	}
	.hamburger i.fa-bars {
		position: relative;
		z-index: 1;
		display: inline;
	}
		.hamburger.active i.fa-bars {
		display: none;
	}
	.hamburger i.fa-times {
		position: relative;
		z-index: 2;
		display: none;
	}
	.hamburger.active i.fa-times {
		display: inline;
	}
	/* PC向けのナビ非表示 */
	.navGlobal.navLeft,
	.navGlobal.navRight {
		display: none;
	}
	/* スクロール禁止 */
	body.no-scroll {
		overflow: hidden;
		/* position: fixed;
		width: 100%; */
	}

}