@media screen and (max-width: 1024px) {
	/* ------------------------------------------------
	* サイト　コンセプトスタッフ　Page/concept_staff.php
	* -----------------------------------------------*/
	.staff-section {
		max-width: 95%;
		padding: 20px 15px;
	}
	.staff-item {
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin-bottom: 60px;
	}
	.staff-image img {
		width: 450px;
		height: auto;
		margin-bottom: 100px;
	}
	.staff-name {
		font-size: 2.4rem;
		justify-content: center;
		gap: 6px;
		margin-top: 0px;
	}
	.staff-name .instagram-link {
		font-size: 2.4rem;
	}
	.staff-info {
		width: 100%;
	}

	/*----------------------------------------
	サイト　プライバシーポリシー　Page/privacy_policy.php
	----------------------------------------*/
	.privacy-policy-content {
		padding: 0px 20px 0px 20px;
	}
	.privacy-policy-title {
		padding: 0px 20px 0px 20px;
	}

	/* ------------------------------------------------
	* サイト・管理画面　ギャラリー
	* -----------------------------------------------*/
	.grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		gap: 10px;
		padding: 0 10px;
		margin-bottom: 50px;
    }
	.grid-item {
        width: calc(50% - 20px);
    }

	/* ------------------------------------------------
	* 管理画面　ブログ
	* -----------------------------------------------*/
	.add-admin {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
	.admin-title {		
		font-size: 22px;
		margin-top: 100px;
	}
	.publish-complete-admin {
        padding-left: 20px !important;
        padding-right: 20px !important;
	}
	.edit-admin {
		padding-left: 20px !important;
        padding-right: 20px !important;
	}
	.draft-save-complete-admin {
		padding-left: 20px !important;
        padding-right: 20px !important;
	}
	.draft_delete_complete_admin {
		padding-left: 20px !important;
        padding-right: 20px !important;
	}
}