/*----------------------------------------
 全体
----------------------------------------*/
body {
    background-color: #ffffff;
    color: #333;
}
h1 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
/* アニメーションスタイル */
/* 下から上 */
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
/* 右から左 */
.fade-right {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-right.show {
    opacity: 1;
    transform: translateX(0);
}

/*----------------------------------------
 サイト　共通
----------------------------------------*/
/* ページトップボタンのスタイル */
.pagetop {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    letter-spacing: 0.2em;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, bottom 0.3s ease;
}
.pagetop.show {
    opacity: 1;
    pointer-events: auto;
}
.pagetop-text {
    display: inline-block;
    transform: translateY(80px);
}
.pagetop::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-50%);
    width: 0.5px;
    height: 160px;
    background-color: #555;
    pointer-events: none;
}
.pagetop:hover::after {
    animation: disappearAndGrow 1.4s forwards;
}
@keyframes disappearAndGrow {
    0% {
    opacity: 1;
    height: 160px;
    }
    10% {
    opacity: 0;
    height: 160px;
    }
    30% {
    opacity: 0;
    height: 0;
    }
    100% {
    opacity: 1;
    height: 160px;
    }
}
.pagetop::before {
    content: '';
    position: absolute;
    left: 11px;
    width: 10px;
    height: 20px;
    border-left: 0.5px solid #555;
    transform: rotate(45deg);
    background: transparent;
    box-sizing: border-box;
}
/* レスポンシブ版は非表示 */
#pagetop-mobile {
    display: none;
}

/* SNSメニュー */
.sns-fixed {
    position: fixed;
    top: 14%;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
    background-color: white;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sns-fixed a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}
.sns-fixed a:nth-child(1) i {
    color:rgb(0, 0, 0);
}
.sns-fixed a:nth-child(2) i {
    color:rgb(0, 0, 0);
}        
.sns-fixed a:nth-child(3) i {
    color:rgb(0, 0, 0);
}
.sns-fixed a:nth-child(4) i {
    color:rgb(0, 0, 0);
}
.sns-fixed a:nth-child(5) i {
    color:rgb(0, 0, 0);
}
.sns-fixed a img:hover {
    transform: scale(1.2);
}
/* 各ページのコンテンツ要素 */
.contents-wrapper {
    margin-bottom: 200px;
}

/*----------------------------------------
 サイト　トップ
----------------------------------------*/
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
.top-right-note {
    font-family: 'Zen Old Mincho', serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: #7a7a7a;
    text-align: right;
    margin: 80px 100px 120px 0px;
    z-index: 10;
}

/*
 letter-spacingは最後の文字にスペースが入るが先頭の文字にスペースが入らない
 左寄せになって見えるためtext-indentで先頭にスペースを入れる
*/
.spica-title {
    letter-spacing: 8px;
    text-align: center;
    text-indent: 4px;
    color: #363637;
    margin-top: 180px;
    margin-bottom: 150px;
    font-size: 4rem;
    font-family: "Tsukimi Rounded", sans-serif;
    font-style: normal;
}
/* 各ページのトップ画像 */
.spica-page-img img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    display: block;
}
/* サイト上部メニュー */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}
/* スライダーのスタイル */
.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slider video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
    .slider video {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        transform: none;
  }
}

/* 画像スライド　動画に変更のため一旦コメントアウト */
/* .slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 12s infinite;
} */
/* 各スライドの表示タイミング */
/* .slider img:nth-child(1) {
    animation-delay: 0s;
}
.slider img:nth-child(2) {
    animation-delay: 4s;
}
.slider img:nth-child(3) {
    animation-delay: 8s;
} */
/* フェードアニメーション */
/* @keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} */
/* スライドアニメーション */
/* @keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
} */

/* スライダー上のロゴのスタイル */
.spica-logo-main {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100vw;
    height: 150px;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.spica-logo-main img {
    width: 200px;
    object-fit: contain;
    z-index: 1;
}
.top-block {
    margin-bottom: 80px;
}
.top-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 200px;
}
.top-inner h2 {
    font-size: 4.8rem;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 8px;
    position: relative;
    font-family: 'Allura', cursive;
}
/* コンテンツの下線 */
.top-inner h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 45.5%;
    height: 0.5px;
    background-color: #000;
}
/* 左側のハサミマーク */
.top-inner h2::before {
    content: "✂";
    position: absolute;
    bottom: -18.5px;
    left: calc(48.5% + 5px);
    transform: translateX(-100%);
    font-size: 16px;
    color: #000;
}
/* 右側のハサミマーク */
.top-block:nth-of-type(even) .top-inner h2::before {
    left: auto;
    right: calc(47.5% + 5px);
    transform: translateX(100%);
}
/* 偶数番目は左右反転 */
.top-block:nth-of-type(even) .top-content {
    flex-direction: row-reverse;
}
/* 偶数番目のセクションのタイトルは右寄せにする */
.top-block:nth-of-type(even) h2 {
    text-align: right;
}
.top-block:nth-of-type(even) h2::after {
    left: auto;
    right: 0;
}
/* 最後のブロックは線を消す */
.top-block:last-child .top-inner {
    border-bottom: none;
     padding-bottom: 0;
}
/* 画像とテキスト */
.top-content {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 60px;
}
.top-section-image, .top-text {
    flex: 1;
    /* figureのプラウザデフォルトスタイルを解除 */
    margin: 0;
	padding: 0;
}
/* テキスト */
.top-text p {
    line-height: 1.8;
    font-size: 2rem;
    font-family: 'Zen Old Mincho', serif;
    margin-bottom: 50px;
}
/* view moreボタン */
.btnBasic {
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: visible;
  padding: 12px 30px 12px 20px;
  text-decoration: none;
  border: 2px solid #000;
  color: #000;
}
.btnBasic__label {
  position: relative;
  display: flex;
  gap: 2px;
  overflow: visible;
  color: black;
}
.typo {
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.4s ease;
}
/* 矢印 */
.arrow {
  margin-left: 12px;
  position: relative;
  width: 20px;
  height: 12px;
}
.arrow__line {
  position: absolute;
  height: 0.5px;
  background: #000;
  transition: transform 0.4s ease;
}
.arrow__line--01 {
  top: 50%;
  left: 0;
  width: 350%;
  transform: translateY(-50%) translateX(0);
}
.arrow__line--02 {
  top: 25%;
  right: -51px;
  width: 8px;
  transform: translateY(-50%) rotate(45deg) translateX(0);
}
/* hover時の動き 左から右にスライド */
.btnBasic:hover .typo {
  transform: translateX(10px);
}
/* 文字の stagger アニメーション */
.btnBasic:hover .typo:nth-child(1) { transition-delay: 0s; }
.btnBasic:hover .typo:nth-child(2) { transition-delay: 0.05s; }
.btnBasic:hover .typo:nth-child(3) { transition-delay: 0.1s; }
.btnBasic:hover .typo:nth-child(4) { transition-delay: 0.15s; }
.btnBasic:hover .typo:nth-child(5) { transition-delay: 0.2s; }
.btnBasic:hover .typo:nth-child(6) { transition-delay: 0.25s; }
.btnBasic:hover .typo:nth-child(7) { transition-delay: 0.3s; }
.btnBasic:hover .typo:nth-child(8) { transition-delay: 0.35s; }

.btnBasic:hover .arrow__line--01 {
  transform: translateX(10px) translateY(-50%);
}
.btnBasic:hover .arrow__line--02 {
  transform: translateX(10px) translateY(-50%) rotate(45deg);
}

/*----------------------------------------
 サイト　コンセプト
----------------------------------------*/
.concept-btn {
    margin-left: 20px;
}
.concept-btn-reverse {
    margin-left: 950px;
}
.concept-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    margin-bottom: 100px;
}
.concept-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 200px;
    gap: 40px;
}
.concept-block:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.concept-text {
    padding-left: 20px;
}
.concept-block .concept-text {
    flex: 1;
}
.concept-block .concept-text h2 {
    font-size: 4.8rem;
    letter-spacing: 8px;
    margin-bottom: 40px;
    text-align: left;
    font-family: 'Allura', cursive;
}
.concept-block .concept-text p {
    line-height: 1.8;
    font-size: 2rem;
    font-family: 'Zen Old Mincho', serif;
}
.concept-block .concept-image {
    flex: 1;
    text-align: center;
}
.concept-block .concept-image img {
    max-width: 100%;
    height: auto;
}
/* 偶数番目だけ左右を反転 */
.concept-block.reverse {
    flex-direction: row-reverse;
}
/* スマホ対応 */
@media (max-width: 768px) {
    .concept-block,
    .concept-block.reverse {
        flex-direction: column;
    }
    .concept-block .concept-image,
    .concept-block .concept-text {
        text-align: center;
    }
}
/* 画像の背景に四角い枠を作る */
.concept-image {
    position: relative;
    display: inline-block;
}
.concept-image img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}
/* 擬似要素で枠を作る */
.concept-image::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #d2b48c6b;
}

/* 3つの徹底事項 */
.section-space {
    padding: 5rem 2rem 2rem 4rem;
    background-color: #f9f9f9;
    margin-top: 200px;
}
.three-points-title {
    text-align: center;
    font-size: 3.8rem;
    margin-bottom: 2rem;
    font-family: 'Zen Old Mincho', serif;
    letter-spacing: 4px;
}
.three-points-block {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
.three-points-image img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}
.three-points-text {
    flex: 1;
    min-width: 4%;
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
}
.three-points-block.reverse {
    flex-direction: row-reverse;
}

/*
 テクノロジーとヘアケア 
*/
/* テクノロジー */
.concept-details-block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
    gap: 40px;
}
.concept-details-block:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.concept-details-block .text {
    order: 2;
    flex: 1;
    padding-left: 20px;
    text-align: center;
}
.concept-details-block .text h2 {
    font-size: 4.8rem;
    letter-spacing: 8px;
    margin-bottom: 40px;
    font-family: 'Allura', cursive;
}
.concept-details-block .text p {
    line-height: 1.8;
    font-size: 2rem;
    font-family: 'Zen Old Mincho', serif;
    text-align: center;
}
.concept-details-block .image {
    order: 1;
    flex: 1;
    text-align: center;
}
.concept-details-block .image img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
/* スマホ対応 */
@media (max-width: 768px) {
    .concept-details-block {
        flex-direction: column;
    }
}

/* ヘアケア */
.concept-details-block-alt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    gap: 40px;
}
.concept-details-block-alt:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.concept-details-block-alt .text {
    padding-left: 20px;
        line-height: 1.8;
    font-size: 2rem;
    font-family: 'Zen Old Mincho', serif;
}
.concept-details-block-alt
.concept-details-block-alt .text {
    flex: 1;
}
.concept-details-block-alt
.concept-details-block-alt .text h2 {
    font-size: 4.8rem;
    letter-spacing: 8px;
    margin-bottom: 40px;
    text-align: left;
    font-family: 'Allura', cursive;
}
.concept-details-block-alt
.concept-details-block-alt .image {
    flex: 1;
    text-align: center;
}
.concept-details-block-alt
.concept-details-block-alt .image img {
    max-width: 100%;
    height: auto;
}
.concept-details-block-alt.reverse {
    flex-direction: row-reverse;
        margin-top: 120px;
}
/* @media (max-width: 768px) {
    .concept-details-block-alt,
    .concept-details-block-alt.reverse {
        flex-direction: column;
    }
    .concept-details-block-alt
    .concept-details-block-alt .image,
    .concept-details-block-alt
    .concept-details-block-alt .text {
        text-align: center;
    }
} */
.concept-details-block-alt .image img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

/* ヘアケアプラスアルファ */
.concept-details-block-alt-plus {
    width: 100%;
    max-width: 1200px;
    margin-top: 120px;
}
.concept-details-block-alt-plus .row {
    position: relative;
    margin-bottom: 100px;
}
.concept-details-block-alt-plus .text {
    width: 55%;
    line-height: 1.8;
    font-size: 2rem;
    font-family: 'Zen Old Mincho', serif;
}
.concept-details-block-alt-plus .image {
    width: 340px;
    position: absolute;
    right: 0;
}
.concept-details-block-alt-plus .img1 {
    top: -20px;
    right: -10px;
}
.concept-details-block-alt-plus .img2 {
    top: 40px;
    right: 50px;
}
.concept-details-block-alt-plus .img3 {
    top: -10px;
    right: -30px;
}

	.concept-details-block .text-alt h2 {
		font-size: 2.2rem;
        font-family: 'Zen Old Mincho', serif;
	}
	.concept-details-block .text-alt p {
		font-size: 2rem;
        font-family: 'Zen Old Mincho', serif;
	}



.concept-details-block-extended {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
    gap: 40px;
}
.concept-details-block-extended:last-child {
    border-bottom: none;
    margin-bottom: 200px;
    
}
.concept-details-block-extended .text {
    order: 2;
    flex: 1;
    padding-left: 20px;
    text-align: center;
}
.concept-details-block-extended .text h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
    font-family: 'Zen Old Mincho', serif;
}
.concept-details-block-extended .text p {
    line-height: 1.8;
    font-size: 2rem;
    font-family: 'Zen Old Mincho', serif;
    text-align: center;
}

/*----------------------------------------
 サイト　メニュー
----------------------------------------*/
/* メニュー表 */
.price-menu-frame {
    max-width: 800px;
    margin: 60px auto;
    margin-bottom: 100px;
    padding: 20px 70px;
    border: 10px solid #a9a9a9;
    position: relative;
    text-align: center;
}
.price-menu-frame::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: -35px;
    bottom: -35px;
    border: 10px solid #333;
}
.price-menu-items {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: left;
    padding-left: 10px;
}
.price-menu-title {
    display: inline-block; 
    background: #5a5a5a;
    color: #fff;
    font-size: 2.6rem;
    text-align: center;
    padding: 12px 40px;
    margin: 40px auto 30px;
    letter-spacing: 6px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Allura', cursive;
}
.price-menu-note {
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 40px;
}
.price-menu-row {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    gap: 20px;
    align-items: center;
    padding: 6px 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.price-menu-row p:first-child {
    font-weight: bold;
}
.price-menu-row p:first-child:empty::before {
    content: "\00a0";
    display: inline-block;
}
.price-menu-row p:last-child {
    text-align: right;
    white-space: nowrap;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    font-size: 1.8rem;
}
.menu-category h3 {
    margin-bottom: 25px;
    font-family: 'Allura', cursive;
    font-size: 3.8rem;
}
.divider {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}
.price-menu-section {
    border-top: 1px solid #333;
    margin: 20px 0;
    padding: 10px 0;
}
.price-menu-note-small {
    border-top: 1px solid #333;
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
}
.name.menu-name {
	margin-bottom: 16px;
}

/*----------------------------------------
 サイト　スタッフ
----------------------------------------*/
.staff-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 10px;
}
.staff-item {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}
.staff-image {
    text-align: center;
}
.staff-image img {
    width: 500px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    transform: rotate(90deg);
    margin-top: 120px;
}
.staff-name {
    font-size: 2.4rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Zen Old Mincho', serif;
    margin-top: 120px;
}
.staff-name .instagram-link {
    color: #E4405F;
    font-size: 2.4rem;
    text-decoration: none;
    transition: color 0.3s;
}
.staff-name .instagram-link:hover {
    color: #d6249f;
}
.staff-info {
    flex: 1;
}
.staff-text {
    font-size: 1.8rem;
    /* line-height: 1.8; */
    padding-bottom: 45px;
    padding-left: 10px;
    list-style: none;
    margin: 0;
    color: #555;
    font-family: 'Zen Old Mincho', serif;
}
.staff-text li {
    margin-bottom: 0rem;
}
.staff-section-title {
    font-family: 'Zen Old Mincho', serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #555;
}


/*----------------------------------------
 サイト　ギャラリー
----------------------------------------*/
/* 画像のスタイル */
.grid {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.grid-item {
    width: 23%;
    margin-bottom: 16px;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    background: #fff;
    cursor: pointer;
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}
/* プルダウンのスタイル */
.filter-area {
    max-width: 1200px;
    margin: 1em auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.filter-area select {
    width: 300px;
    height: 60px;
    border-radius: 0;
}
.select-wrapper {
    position: relative;
    width: 300px;
}
.select-wrapper select {
    width: 100%;
    height: 60px;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 40px 0 10px;
    font-size: 1.5rem;
    border: 1px solid #adadad;
    background-color: #fff;
    cursor: pointer;
}
.select-wrapper::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    pointer-events: none;
}
#styleFilter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/img/arrow_down.svg') no-repeat right 10px center;
    background-size: 12px 12px;
    padding: 6px 30px 6px 10px;
    font-size: 1.5rem;
    border: 1px solid #adadad;
    cursor: pointer;
}
#styleFilter:focus {
    outline: none;
}
/* モーダルのスタイル */
.modal {
    display: none; 
    position: fixed;
    z-index: 9999; 
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}
.modal-image-wrapper {
    position: relative;
    display: inline-block;
}
/* モーダル内の画像スタイル */
.modal-content {
  max-width: 90vw;
  max-height: 80vh;
  animation: zoom 0.3s;
}
@keyframes zoom {
    from {transform: scale(0.7);}
    to {transform: scale(1);}
}
.modal-info {
    padding: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
}
.modal-info p {
    max-width: 50%;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}
/* モーダル閉じるボタン */
.modal-close {
    position: absolute;
    top: -34px;
    right: -4px;
    color: #cecccc;
    width: 32px;
    height: 32px;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 10000;
}

/*----------------------------------------
 サイト　アクセス
----------------------------------------*/
.access-map {
    max-width: 600px;
    margin: 32px auto;
    width: 90%;
}
.access-map iframe {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 0px;
}
.access-info {
    text-align: center;
    font-size: 1.8rem;
    color: #555;
    margin-top: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*----------------------------------------
 サイト　予約
----------------------------------------*/
.reservation-info {
    text-align: center;
    font-size: 1.8rem;
    color: #555;
    margin-top: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
.line-img {
    text-align: center;
}
.line-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.line-buttons img {
    height: 60px;
    cursor: pointer;
}
.reservation-attention {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-bottom: 40px;
}
.reservation-attention .attention-link {
    color: #007bff;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
}
.reservation-attention-note{
color: #d6002f;
font-size: 1.2rem;
}
.hair-atelier-spica-title-img {
    max-width: 24%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.hair-atelier-spica-title-img img {
    width: 100%;
    height: auto;
}
.contact-info {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 100px;
}
.store-address {
    font-family: 'Noto Sans JP', sans-serif;
}
address {
    font-style: normal;
}

/* レシープポリシー */
.cancel-policy-note {
    background-color: #f9f9f9;
    padding: 25px;
    padding-bottom: 80px;
    margin: 40px auto;
    max-width: 650px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.cancel-policy-note h2 {
    font-size: 2.4rem;
    margin-top: 10px;
    margin-bottom: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Noto Sans JP', sans-serif;
}
.cancel-policy-note h3 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Noto Sans JP', sans-serif;
}
.cancel-policy-note p {
    font-size: 1.4rem;
    line-height: 1.9;
    text-align: left;
}

/*----------------------------------------
 サイト　ヘッダー
----------------------------------------*/
/* ロゴのスタイル */
.spica-logo-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.spica-logo-top img {
    height: 100px;
    object-fit: contain;
}
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}
/* 左右のナビゲーションメニュー */
.navGlobal {
    display: flex;
    align-items: center;
}
.navGlobalIn {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navGlobalIn li {
    margin: 0 15px;
    margin: 20px;
}
.navGlobalIn li a {
    position: relative;
    display: block;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Tsukimi Rounded", sans-serif;
    overflow: hidden;
    height: 1.5em;
    min-width: 80px;
}
.navGlobalIn li a .en {
    display: block;
    transition: opacity 0.3s ease;
}
.navGlobalIn li a:hover .en {
    opacity: 0;
}
.navGlobalIn li a .jp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* 虹色グラデーションの初期設定 */
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: none;
}
.navGlobalIn li a:hover .jp {
    opacity: 1;
    animation: rainbowFlow 2s linear 1;
}
@keyframes rainbowFlow {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* PCやタブレット（481px以上）ではサイドメニューを非表示にする */
@media screen and (min-width: 1025px) {
    .sidebar,
    .overlay,
    .hamburger {
    display: none;
    }
}

/*----------------------------------------
 サイト　フッター
----------------------------------------*/
.footer {
    background-color: rgb(90, 90, 90);
}
.copyright {
    font-size: 1.5rem;
    border-top: 1px solid #6b6b6b;
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
}
.spica-logo-footer img {
    width: 140px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.privacy-policy {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.privacy-policy a {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}
.privacy-policy a:hover {
    color: #c4c4c4;
}

/*----------------------------------------
 サイト　プライバシーポリシー
----------------------------------------*/
.privacy-policy-content {
    padding: 0px 120px 0px 120px;
    margin-bottom: 100px;
}
.privacy-policy-title {
    font-family: 'Zen Old Mincho', serif;
}
.privacy-policy-subtitle {
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-family: 'Zen Old Mincho', serif;
}
.privacy-policy-text {
    margin: 0px 0px 40px 25px;
    font-family: 'Zen Old Mincho', serif;
}


/*----------------------------------------
 管理画面　共通
----------------------------------------*/
/* 各ページのタイトル */
.admin-title {
    letter-spacing: 8px;
    text-align: center;
    color: #363637;
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 40px;
    font-family: "Tsukimi Rounded", sans-serif;
    font-style: normal;
}
/* ログアウトボタンのスタイル */
.logout a {
    margin: 20px auto;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    max-width: 160px;
}
.logout a:hover {
    background-color: #ffb83678;
}
.logout i {
    margin-right: 6px;
}
/* 戻るボタン */
.return a {
    margin: 20px auto;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    max-width: 160px;
}
.return a:hover {
    background-color: #ffb83678;
}
.return i {
    margin-right: 6px;
}

/*----------------------------------------
 管理画面　ログイン画面
----------------------------------------*/
/* ラベルのスタイル */
.form-label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
    font-family: "Tsukimi Rounded", sans-serif;
    font-style: normal;
    margin-left: 20%;
}
body .form-input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-left: 20%;
}
/* ボタンのスタイル */
body .form-submit {
    margin: 20px auto;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* スマホ用のレスポンシブスタイル */
@media screen and (max-width: 768px) {
    body .top-image img {
        width: 80%;
    }

    body .form-label {
        font-size: 12px;
    }

    body .form-submit {
        font-size: 14px;
        padding: 0px 10px 10px 10px;
    }

    body .form-input {
        font-size: 14px;
    }
}
/* アカウントロック　ログイン画面へ戻るボタン */
body .btn-back {
    margin: 100px auto;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.btn-back:hover {
    background-color: #ffb83678;
    color: #ffffff;
}

/*----------------------------------------
 管理画面　トップ
----------------------------------------*/
/* ロゴのスタイル */
.top-image img {
    width: 20%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}
.menu-content {
    margin-top: 140px;
}
body .menu {
    width: 90%;
    max-width: 600px;
    margin:  0 auto;
}
body .menu-box {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    margin:  0 auto;
}
body .menu-title {
    font-size: 26px;
    color: #555;
    display: block;
    margin-bottom: 5px;
    font-family: "Tsukimi Rounded", sans-serif;
    font-style: normal;
    margin-left: 6%;
    text-align: left;
}
body .menu_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
body .menu_list li {
    margin: 10px 0;
}
body .menu_list li a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    display: block;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
    font-size: 18px;
    font-family: "Tsukimi Rounded", sans-serif;
    font-style: normal;
}
body .menu_list li a:hover {
    background-color:rgb(170, 170, 170);
    color: #fff;
}

/*----------------------------------------
 管理画面　ブログ
----------------------------------------*/
/* 新規投稿　下書き保存ボタン */
body .draftButton {
    margin: 20px;
    margin-left: 50%;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    max-width: 160px;
    padding: 20px 20px 20px 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
.draftButton:hover {
    background-color: #ffb83678;
    color: #ffffff;
}
/* 新規投稿　確認ボタン */
body .postPreviewButton {
    margin: 20px;
    margin-right: 50%;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    max-width: 160px;
    padding: 20px 40px 20px 40px;
    font-family: 'Noto Sans JP', sans-serif;
}
.postPreviewButton:hover {
    background-color: #ffb83678;
    color: #ffffff;
}
/* 公開するボタン */
body .publishButton {
    margin: 100px auto;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    max-width: 160px;
    font-family: 'Noto Sans JP', sans-serif;
}
.publishButton:hover {
    background-color: #ffb83678;
    color: #ffffff;
}
/* 下書き保存　確認ボタン */
body .editPreviewButton {
    margin: 20px;    
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    max-width: 160px;
    padding: 20px 40px 20px 40px;
    font-family: 'Noto Sans JP', sans-serif;
}
.editPreviewButton:hover {
    background-color: #ffb83678;
    color: #ffffff;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.preview-text {
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
    color: #444;
    margin-top: 30px;
    word-break: break-word;
}
.preview-text img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.publish-button-wrapper {
    text-align: center;
    margin-top: 20px;
}
/* 下書き・公開完了画面 */
.admin-subtitle {
    font-size: 2.5rem;
    font-family: 'Zen Old Mincho', serif;
}

/*----------------------------------------
 管理画面　ギャラリー
----------------------------------------*/
.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Zen Old Mincho', serif;
}
.form-wrapper .input {
    margin-bottom: 2.5rem;
}
.form-wrapper label {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 0.4rem;
}
.form-wrapper .required {
    color: red;
    font-size: 0.8em;
    margin-left: 0.5em;
}
/* 削除ボタン */
.btn-delete {
    display: inline-block;
    padding: 0.4em 1em;
    font-size: 1rem;
    color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
    background-color: #ffb836;
}
.btn-delete:hover {
    background-color: #ffb83678;
    color: #ffffff;
}
/* 投稿するボタン */
.submit-btn {
    margin: 20px auto;
    font-size: 16px;
    color: #000000;
    background-color: #ffb836;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.submit-btn:hover {
    background-color: #ffb83678;
    color: #ffffff;
}